@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.property_search {
  margin-left: 26%;
}
.property_search button{
  margin: 8px;
}

.notFound{
  margin-left: 46%;
  margin-top: 3rem;
}

.propertyDetail{
  width: 5rem !important;
  margin-left: 1 rem !important;
}

.propertyImage{
  height: 80vh !important;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.signupPage{
  /* width: 55%;
  margin-top: 1%; */
  /* left: 20%; */
  height: 100%;
  padding: 3%;
  background-color: white !important;
  border: 1px solid #8080807a;
  border-radius: 3%;
  padding: 4% 15%;
}

.noPropertiesFound{
  text-align: center;
  width: 92vw !important;
  height: calc(100vh - 15.75rem);
}

.loginPage{
  width: 42%;
  margin-top: 9%;
  left: 20%;
  padding: 3%;
  background-color: white !important;
  margin-left: 27%;
}

.signupImage{
  width: 100%;
  height: 37.8rem !important;
}

.signup_page_left_panel {
  width: 45%;
}

.signup_left_panel_text{
  top: 34%;
  left: 10%;
  right: 8%;
}

.signup_page_right_panel {
  width: 60%;
  padding: 2% 8%;
  background-color: white;
}